# Absolute or relative path to dialog projects folder
DIALOGSYS_PROJECTS_ROOT=./projects

# Git snapshots per project (autosave branches autosave/*)
SNAPSHOT_RETENTION_DAYS=7
SNAPSHOT_DEBOUNCE_MS=60000
SNAPSHOT_INTERVAL_MS=300000
